<div class="flex flex-col gap-6 p-4">
  <form class="flex gap-3" [formGroup]="form" (ngSubmit)="onSave()">
    <p-autoComplete
      formControlName="task"
      [forceSelection]="true"
      [suggestions]="taskTypeList()"
      (completeMethod)="filterTypes($event)"
      optionLabel="name"
      placeholder="Type"
      optionValue="name"
    />
    <p-calendar
      formControlName="start"
      placeholder="Start date"
      [showTime]="true"
      hourFormat="12"
      [minDate]="minDate"
    />
    <p-calendar
      formControlName="end"
      placeholder="End date"
      [showTime]="true"
      hourFormat="12"
      [minDate]="minDate"
    />
    <button
      class="rounded-lg px-4 py-3 bg-blue-500 text-white disabled:opacity-50"
      [disabled]="form.invalid || savingForm()"
      type="submit"
    >
      {{ savingForm() ? "Saving..." : "Save" }}
    </button>
  </form>
  <div
    class="px-5 py-2 bg-red-100 text-red-500 rounded-lg"
    *ngIf="form.errors?.['rangeError']"
  >
    Start date must be before end date.
  </div>
  <p-table
    [value]="logs()"
    [tableStyle]="{ 'min-width': '50rem' }"
    [loading]="loadingLogs()"
    [scrollable]="true"
    scrollHeight="calc(100dvh - 250px)"
  >
    <ng-template pTemplate="caption">
      <input
        placeholder="Search logs by task"
        type="text"
        pInputText
        [formControl]="searchCtrl"
      />
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Task</th>
        <th>Start</th>
        <th>End</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-task>
      <tr>
        <td>{{ task.task }}</td>
        <td>{{ task.start | date : "medium" }}</td>
        <td>{{ task.end | date : "medium" }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr *ngIf="!loadingLogs()">
        <td colspan="3">No data found. Please search with a different query</td>
      </tr>
    </ng-template>
  </p-table>
</div>
